# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log

# Temporary files
*.tmp

# Python build files
build/
dist/
*.egg-info/

# FAISS / Vector DB (if generated later)
*.faiss
*.pkl
vector_store/

# Jupyter notebooks
.ipynb_checkpoints/